   <%- include('includes/header') %>
  
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item @@contact__active">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
          </div>
  



          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container py-1">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
      </nav>

    </div>
  </header>
  <!--/header-->





<!-- hero slider Start -->
<div class="banner-wrap">
    <div class="banner-slider">


        <!-- hero slide start -->
        <div class="banner-slide bg1">
            <div class="container">
                <div class="hero-content">
                    <h1 data-animation="flipInX" data-delay="0.8s" data-color="#fff">
                        Specialises On Building Materials</h1>
                    <p data-animation="fadeInDown" class="mt-4">
                        Such as Marble, Granite, Tiles, Slabs, Ceramic Tiles, Tarazo Materials
                    </p>

                </div>
            </div>
            <div class="hero-overlay"></div>
        </div>
        <!-- hero slide end -->


        <!-- hero slide start -->
        <div class="banner-slide bg2">
            <div class="container">
                <div class="hero-content">
                    <h1 data-animation="fadeInDown" data-delay="0.8s" data-color="#fff">
                        Get Quality Marble Goods
                    </h1>
                    <p data-animation="fadeInDown" class="mt-4">
                        Contact us to get quality goods from one of the best marble company in Nigeria
                     </p>

                </div>
            </div>
            <div class="hero-overlay"></div>
        </div>
        <!-- hero slide end -->



    </div>
    <div class="shape">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 280">
            <path fill-opacity="1">
                <animate attributeName="d" dur="20000ms" repeatCount="indefinite"
                    values="M0,160L48,181.3C96,203,192,245,288,261.3C384,277,480,267,576,234.7C672,203,768,149,864,117.3C960,85,1056,75,1152,90.7C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z; M0,160L48,181.3C96,203,192,245,288,234.7C384,224,480,160,576,133.3C672,107,768,117,864,138.7C960,160,1056,192,1152,197.3C1248,203,1344,181,1392,170.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;												 M0,64L48,74.7C96,85,192,107,288,133.3C384,160,480,192,576,170.7C672,149,768,75,864,80C960,85,1056,171,1152,181.3C1248,192,1344,128,1392,96L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;
                                                 M0,160L48,181.3C96,203,192,245,288,261.3C384,277,480,267,576,234.7C672,203,768,149,864,117.3C960,85,1056,75,1152,90.7C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;" />

            </path>
        </svg>
    </div>
</div>
<!-- hero slider end -->








 <!-- home page about section -->
<section class="w3l-homeblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <span class="title-small">About Us</span>
                    <h3 class="title-big">We sell affordable and quality marble goods. </h3>
                    <p class="mt-md-4 mt-3">
                        De-jerry INTERBIZZ (NIG) LTD is a Nigerian based company that sells quality marble goods. 
                        We are located in Lagos, Nigeria. We sell affordable and quality marble goods with zero or minimal complains 
                        from our clients/buyers. 
                    </p>
                    <ul class="service-list pt-lg-2 mt-4">
                        <li class="service-link"><a href="#url"><span class="fa fa-check-circle"></span> Quality Marble Goods</a></li>
                        <li class="service-link"><a href="#url"><span class="fa fa-check-circle"></span> Affordable Pricing System</a></li>
                        <li class="service-link"><a href="#url"><span class="fa fa-check-circle"></span> Fast and Efficient Delivery</a></li>
                    </ul>
                </div>
                <div class="HomeAboutImages col-lg-6 mt-lg-0 mt-md-5 mt-4">
                    <div class="row position-relative">
                        <div class="col-6">    
                        <img src="assets/images/b2.jpg" alt="" class="radius-image img-fluid">
                        </div>
                        <div class="col-6 mt-4">    
                            <img src="assets/images/c1.jpg" alt="" class="radius-image img-fluid mb-md-3 mb-2">
                            <img src="assets/images/c4.jpg" alt="" class="radius-image img-fluid mt-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page about section -->









<!--  services section -->
<div class="w3l-servicesblock2" id="services">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Our Products</h3>
            <div class="row mt-lg-5 mt-4 text-center">


                <% products.forEach(function(product) { %> 
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="<%= product.slug %>" class="d-block zoom">

                            <img src="assets/images/prod-image/<%= product.imageCover1 %>" alt=""
                                class="img-fluid service-image" /></a>

                        <div class="blog-info">
                            <a href="<%= product.slug %>" class="title"><%= product.name %></a>
                            <p class="text-para"> 
                                <%= product.summary %>
                            </p>
                        </div>

                        <a href="<%= product.slug %>" class="btn btn-style btn-primary">Learn More</a>
                    </div>
                </div>
                <% }) %>

            </div>
        </div>
    </section>
</div>








<%- include('includes/footer') %>